.home {
  background: #000 url("../../assets/images/Backgroung-collection.png")
    no-repeat top center;
  background-size: cover;

  .home-containers {
    margin: 100px auto;
    width: 80%;
  }

  .wolf-pack {
    article {
      h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .nft-collections {
    article {
      margin-bottom: 35px;

      h2 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;
        color: var(--light-green);
      }

      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .donate {
    margin: 100px 0;
    background-color: var(--dark-green);
    padding: 5em;

    h3 {
      color: var(--light-green);
    }

    p {
      line-height: 26px;
    }
  }

  .newsletter {
    background-color: var(--trans-white);
    padding: 5em 3em;
    border-radius: 40px;

    h3 {
      font-size: 24px;
      font-weight: 700;
    }
    input {
      border-radius: 20px;
    }

    p {
      margin-top: 52px;
      font-size: 16px;
      line-height: 25px;
      font-weight: 500;
    }
  }
}
